<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <pally>
                <active>0</active>
                <model>PallyPaymentFacade</model>
                <title>Pally</title>
                <description>Pay securely via Pally</description>
                <instructions></instructions>
                <payment_action>authorize</payment_action>
                <order_status>pending_payment</order_status>
                <api_url>https://pal24.pro</api_url>
                <shop_id></shop_id>
                <api_token></api_token>
                <bill_type>normal</bill_type>
                <lifetime>1800</lifetime>
                <debug>0</debug>
                <sort_order>100</sort_order>
                <is_gateway>1</is_gateway>
                <can_authorize>1</can_authorize>
                <can_capture>0</can_capture>
                <can_use_checkout>1</can_use_checkout>
                <can_use_internal>0</can_use_internal>
                <debugReplaceKeys>api_token,SignatureValue</debugReplaceKeys>
            </pally>
        </payment>
    </default>
</config>
